In [2]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
sb.set() # set the default Seaborn style for graphics
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.tree import export_graphviz
import pydotplus
from IPython.display import Image

In [54]:
olympicData = pd.read_csv('C:\\Users\\Bruger\\Desktop\\CZ1016\\athlete_events.csv')
olympicData.head(1)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN

In [55]:
olympicData.columns
#myfile = open('C:\\Users\\Bruger\\Desktop\\CZ1016\\athlete_events.csv')
colDrop = ['Name','Games','City'] 
olympicData.drop(columns = colDrop, inplace = True)
olympicData.describe()
olympicData['Medal'] = olympicData['Medal'].fillna('NoMedal')
olympicDataN = olympicData[(olympicData['Height'].notnull() & olympicData['Weight'].notnull() & olympicData['Age'].notnull())]

In [60]:
HeightNOC = olympicData[['Height', 'NOC','Sex']]
HeightNOC.head()
AvgHeight = HeightNOC.groupby(['NOC', 'Sex']).mean()
AvgHeight.rename(columns={"Height": "Avgheight"}, inplace=True)
AvgHeight.head(2)

          Avgheight
NOC Sex
AFG F    170.000000
    M    170.653061

In [62]:
olympicData = pd.merge(olympicData, AvgHeight, on = ['NOC','Sex'])
olympicData.head(2)

,ID,Sex,Age,Height,Weight,Team,NOC,Year,Season,Sport,Event,Medal,Avgheight
0,1,M,24.0,180.0,80.0,China,CHN,1992,Summer,Basketball,Basketball Men's Basketball,NoMedal,177.615524
1,2,M,23.0,170.0,60.0,China,CHN,2012,Summer,Judo,Judo Men's Extra-Lightweight,NoMedal,177.615524

In [66]:
olympicData['Height'] = olympicData['Height'].fillna(olympicData['Avgheight'])

In [68]:
olympicData.head(36)

,ID,Sex,Age,Height,Weight,Team,NOC,Year,Season,Sport,Event,Medal,Avgheight
0,1,M,24.0,180.000000,80.0,China,CHN,1992,Summer,Basketball,Basketball Men's Basketball,NoMedal,177.615524
1,2,M,23.0,170.000000,60.0,China,CHN,2012,Summer,Judo,Judo Men's Extra-Lightweight,NoMedal,177.615524
2,602,M,22.0,182.000000,75.0,China,CHN,2000,Summer,Boxing,Boxing Men's Middleweight,NoMedal,177.615524
3,1463,M,25.0,160.000000,62.0,China,CHN,2004,Summer,Wrestling,"Wrestling Men's Lightweight, Greco-Roman",NoMedal,177.615524
4,3605,M,22.0,178.000000,72.0,China,CHN,2006,Winter,Speed Skating,Speed Skating Men's 500 metres,NoMedal,177.615524
5,3605,M,22.0,178.000000,72.0,China,CHN,2006,Winter,Speed Skating,"Speed Skating Men's 1,000 metres",NoMedal,177.615524
6,3610,M,19.0,173.000000,70.0,China,CHN,1998,Winter,Short Track Speed Skating,Short Track Speed Skating Men's 500 metres,Silver,177.615524
7,3610,M,19.0,173.000000,70.0,China,CHN,1998,Winter,Short Track Speed Skating,"Short Track Speed Skating Men's 1,000 metres",NoMedal,177.615524
8,3610,M,19.0,173.000000,70.0,China,CHN,1998,Winter,Short Track Speed Skating,"Short Track Speed Skating Men's 5,000 metres R...",Bronze,177.615524
9,3610,M,23.0,173.000000,70.0,China,CHN,2002,Winter,Short Track Speed Skating,"Short Track Speed Skating Men's 5,000 metres R...",Bronze,177.615524
10,4639,M,25.0,173.000000,71.0,China,CHN,2008,Summer,Hockey,Hockey Men's Hockey,NoMedal,177.615524
11,4641,M,21.0,181.000000,90.0,China,CHN,1996,Summer,Judo,Judo Men's Middleweight,NoMedal,177.615524
12,6376,M,23.0,185.000000,80.0,China,CHN,2014,Winter,Curling,Curling Men's Curling,NoMedal,177.615524
13,6382,M,24.0,187.000000,100.0,China,CHN,1996,Summer,Wrestling,"Wrestling Men's Heavyweight, Greco-Roman",NoMedal,177.615524
14,6383,M,22.0,180.000000,70.0,China,CHN,1984,Summer,Archery,Archery Men's Individual,NoMedal,177.615524
15,6848,M,21.0,184.000000,83.0,China,CHN,1992,Summer,Boxing,Boxing Men's Light-Heavyweight,NoMedal,177.615524
16,6849,M,26.0,173.000000,66.0,China,CHN,2012,Summer,Triathlon,Triathlon Men's Olympic Distance,NoMedal,177.615524
17,6849,M,30.0,173.000000,66.0,China,CHN,2016,Summer,Triathlon,Triathlon Men's Olympic Distance,NoMedal,177.615524
18,6855,M,19.0,173.000000,70.0,China,CHN,2014,Winter,Speed Skating,Speed Skating Men's 500 metres,NoMedal,177.615524
19,7595,M,21.0,190.000000,80.0,China,CHN,2004,Summer,Badminton,Badminton Men's Singles,NoMedal,177.615524
20,7595,M,25.0,190.000000,80.0,China,CHN,2008,Summer,Badminton,Badminton Men's Singles,NoMedal,177.615524
21,7596,M,27.0,177.000000,55.0,China,CHN,1936,Summer,Football,Football Men's Football,NoMedal,177.615524
22,11222,M,27.0,183.000000,87.0,China,CHN,2016,Summer,Wrestling,"Wrestling Men's Light-Heavyweight, Freestyle",NoMedal,177.615524
23,11225,M,23.0,188.000000,110.0,China,CHN,1992,Summer,Athletics,Athletics Men's Hammer Throw,NoMedal,177.615524
24,11237,M,18.0,210.000000,95.0,China,CHN,2008,Summer,Volleyball,Volleyball Men's Volleyball,NoMedal,177.615524
25,15958,M,25.0,180.000000,86.0,China,CHN,2008,Summer,Baseball,Baseball Men's Baseball,NoMedal,177.615524
26,17283,M,25.0,179.000000,70.0,China,CHN,1988,Summer,Athletics,Athletics Men's 100 metres,NoMedal,177.615524
27,17283,M,25.0,179.000000,70.0,China,CHN,1988,Summer,Athletics,Athletics Men's 4 x 100 metres Relay,NoMedal,177.615524
28,17284,M,20.0,182.000000,72.0,China,CHN,2008,Summer,Swimming,Swimming Men's 50 metres Freestyle,NoMedal,177.615524
29,17284,M,20.0,182.000000,72.0,China,CHN,2008,Summer,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay,NoMedal,177.615524
30,17285,M,25.0,168.000000,51.0,China,CHN,1988,Summer,Athletics,Athletics Men's Marathon,NoMedal,177.615524
31,17286,M,28.0,186.000000,80.0,China,CHN,1984,Summer,Water Polo,Water Polo Men's Water Polo,NoMedal,177.615524
32,17286,M,32.0,186.000000,80.0,China,CHN,1988,Summer,Water Polo,Water Polo Men's Water Polo,NoMedal,177.615524
33,17287,M,22.0,176.000000,68.0,China,CHN,1984,Summer,Athletics,Athletics Men's High Jump,NoMedal,177.615524
34,17288,M,29.0,185.000000,82.0,China,CHN,1984,Summer,Water Polo,Water Polo Men's Water Polo,NoMedal,177.615524
35,17290,M,22.0,177.615524,NaN,China,CHN,1936,Summer,Athletics,Athletics Men's 50 kilometres Walk,NoMedal,177.615524

In [7]:
olympicData['Height'] = olympicData['Height']/100

In [8]:
olympicData.head()

,ID,Sex,Age,Height,Weight,Team,NOC,Year,Season,Sport,Event,Medal
0,1,M,24.0,1.80,80.0,China,CHN,1992,Summer,Basketball,Basketball Men's Basketball,NoMedal
1,2,M,23.0,1.70,60.0,China,CHN,2012,Summer,Judo,Judo Men's Extra-Lightweight,NoMedal
4,5,F,21.0,1.85,82.0,Netherlands,NED,1988,Winter,Speed Skating,Speed Skating Women's 500 metres,NoMedal
5,5,F,21.0,1.85,82.0,Netherlands,NED,1988,Winter,Speed Skating,"Speed Skating Women's 1,000 metres",NoMedal
6,5,F,25.0,1.85,82.0,Netherlands,NED,1992,Winter,Speed Skating,Speed Skating Women's 500 metres,NoMedal

In [9]:
olympicData['BMI'] = olympicData['Weight']/(olympicData['Height']** 2)

In [16]:
print(olympicData.shape, " ", olympicDataF.shape, " ", olympicDataM.shape)

(206165, 13)   (66711, 13)   (139454, 13)

In [ ]:
height = pd.DataFrame(olympicData['Height'])
weight = pd.DataFrame(olympicData['Weight'])
sport = pd.DataFrame(olympicData['Sport'])

olympicData['Sport'].value_counts()
olympicData['Sport'].unique().shape

# Split the Legendary-Total Dataset into Train and Test
Height_train, Height_test, Weight_train, Weight_test, sport_train, sport_test = train_test_split(height, weight, sport, test_size = 0.25)

sb.countplot(olympicData['Sport'], orient="v")

# Create a joint dataframe by concatenating Total and Legendary
jointDF = pd.concat([Height_train, Weight_train, sport_train], axis = 1, join_axes = [Height_train.index])

# Joint Swarmplot of Total Train against Legendary Train
f, axes = plt.subplots(1, 1, figsize=(18, 6))
sb.swarmplot(x = "Height", y = "Sport", data = jointDF, orient = "h")

f, axes = plt.subplots(1, 1, figsize=(18, 6))
sb.swarmplot(x = "Weight", y = "Sport", data = jointDF, orient = "h")