CZ1016 EXERCISE 1 PROBLEM 1

In [2]:
import pandas as pd

In [3]:
csv_file = pd.read_csv('train.csv',header=None)

In [4]:
print('type of file ', type(csv_file), ' dimensions ',csv_file.shape)

type of file  <class 'pandas.core.frame.DataFrame'>  dimensions  (1461, 81)

In [ ]:
print('datatype ', csv_file.dtypes)

In [7]:
csv_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 81 columns):
0     1461 non-null object
1     1461 non-null object
2     1461 non-null object
3     1202 non-null object
4     1461 non-null object
5     1461 non-null object
6     92 non-null object
7     1461 non-null object
8     1461 non-null object
9     1461 non-null object
10    1461 non-null object
11    1461 non-null object
12    1461 non-null object
13    1461 non-null object
14    1461 non-null object
15    1461 non-null object
16    1461 non-null object
17    1461 non-null object
18    1461 non-null object
19    1461 non-null object
20    1461 non-null object
21    1461 non-null object
22    1461 non-null object
23    1461 non-null object
24    1461 non-null object
25    1453 non-null object
26    1453 non-null object
27    1461 non-null object
28    1461 non-null object
29    1461 non-null object
30    1424 non-null object
31    1424 non-null object
32    1423 non-null object
33    1424 non-null object
34    1461 non-null object
35    1423 non-null object
36    1461 non-null object
37    1461 non-null object
38    1461 non-null object
39    1461 non-null object
40    1461 non-null object
41    1461 non-null object
42    1460 non-null object
43    1461 non-null object
44    1461 non-null object
45    1461 non-null object
46    1461 non-null object
47    1461 non-null object
48    1461 non-null object
49    1461 non-null object
50    1461 non-null object
51    1461 non-null object
52    1461 non-null object
53    1461 non-null object
54    1461 non-null object
55    1461 non-null object
56    1461 non-null object
57    771 non-null object
58    1380 non-null object
59    1380 non-null object
60    1380 non-null object
61    1461 non-null object
62    1461 non-null object
63    1380 non-null object
64    1380 non-null object
65    1461 non-null object
66    1461 non-null object
67    1461 non-null object
68    1461 non-null object
69    1461 non-null object
70    1461 non-null object
71    1461 non-null object
72    8 non-null object
73    282 non-null object
74    55 non-null object
75    1461 non-null object
76    1461 non-null object
77    1461 non-null object
78    1461 non-null object
79    1461 non-null object
80    1461 non-null object
dtypes: object(81)
memory usage: 924.6+ KB

In [ ]:
csv_file.describe()

CZ1016 EXERCISE 1 PROBLEM 2

In [11]:
html_page = pd.read_html('https://en.wikipedia.org/wiki/2016_Summer_Olympics_medal_table')

In [12]:
len(html_page)

6

In [14]:
html_page[1].head()

  Rank                  NOC  Gold  Silver  Bronze  Total
0    1  United States (USA)    46      37      38    121
1    2  Great Britain (GBR)    27      23      17     67
2    3          China (CHN)    26      18      26     70
3    4         Russia (RUS)    19      17      20     56
4    5        Germany (GER)    17      10      15     42

In [16]:
medal_df = pd.DataFrame(html_page[1])

In [18]:
medal_top20 = medal_df[:20]
print(medal_top20)

   Rank                  NOC  Gold  Silver  Bronze  Total
0     1  United States (USA)    46      37      38    121
1     2  Great Britain (GBR)    27      23      17     67
2     3          China (CHN)    26      18      26     70
3     4         Russia (RUS)    19      17      20     56
4     5        Germany (GER)    17      10      15     42
5     6          Japan (JPN)    12       8      21     41
6     7         France (FRA)    10      18      14     42
7     8    South Korea (KOR)     9       3       9     21
8     9          Italy (ITA)     8      12       8     28
9    10      Australia (AUS)     8      11      10     29
10   11    Netherlands (NED)     8       7       4     19
11   12        Hungary (HUN)     8       3       4     15
12   13        Brazil (BRA)*     7       6       6     19
13   14          Spain (ESP)     7       4       6     17
14   15          Kenya (KEN)     6       6       1     13
15   16        Jamaica (JAM)     6       3       2     11
16   17        Croatia (CRO)     5       3       2     10
17   18           Cuba (CUB)     5       2       4     11
18   19    New Zealand (NZL)     4       9       5     18
19   20         Canada (CAN)     4       3      15     22